@import "./reset.css";
@import "./fonts.css";
@import "./variables.css";

:root {
   font-family:
      "Montserrat",
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      "Roboto",
      "Oxygen",
      "Ubuntu",
      "Cantarell",
      "Fira Sans",
      "Droid Sans",
      "Helvetica Neue",
      sans-serif;
   line-height: 1.5;
   font-weight: 400;
   font-synthesis: none;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   scroll-behavior: smooth;
}

p {
   margin-bottom: 0;
}

::-webkit-scrollbar {
   width: 6px;
   height: 6px;
}

::-webkit-scrollbar-track {
   background-color: var(--color-background-base);
}
::-webkit-scrollbar-thumb {
   background-color: var(--color-button-primary);
   border-radius: 7px;
   transition: 0.2s;
}
::-webkit-scrollbar-thumb:hover {
   opacity: 0.7;
}
::-webkit-scrollbar-button {
   display: none;
}

::selection {
  background-color: #f5e4d1;
  color: #000000;
  text-shadow: none;
}

::-moz-selection {
  background-color: #f5e4d1;
  color: #000000;
  text-shadow: none;
}


body {
   margin: 0;
   display: flex;
   place-items: center;
   min-height: 100vh;
   max-width: 100vw;
   overflow-x: hidden;
   color: var(--color-text-primary);
}

* {
   
}

button {
   font-family: "Montserrat", system-ui, sans-serif;
}
