.footer {
   padding: 60px 0;

   @media (max-width: 800px) {
      padding: 33px 0;
   }

   &-content {
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media (max-width: 800px) {
         flex-direction: column;
         gap: 10px;
      }
   }
}

.left {
   display: flex;
   align-items: center;
   gap: 100px;

   @media (max-width: 800px) {
      flex-direction: column;
      gap: 10px;
   }
}

.text {
   font-size: 12px;
   line-height: 18px;
   color: var(--color-text-soft);
}

.privacy:hover {
   color: #d4a574;
}