// ChartSkeleton.module.scss
.chartSkeleton {
   background: var(--skeleton-bg, #f8f9fa);
   border-radius: 8px;
   padding: 20px;
   position: relative;
   overflow: hidden;
}

.svg {
   opacity: 0.7;
}

.axis {
   // stroke: var(--skeleton-color, #dee2e6);
   stroke-width: 5;
   stroke-linecap: round;
   animation: pulseColor 1.5s ease-in-out infinite;
}

// Альтернативная анимация - плавное изменение цвета
.line1 {
   // stroke: var(--skeleton-line-1, #eaeaea);
   stroke-width: 5;
   fill: none;
   stroke-linecap: round;
   stroke-linejoin: round;
   animation: pulseColorRed 1.5s ease-in-out infinite;
}
.line2 {
   // stroke: var(--skeleton-line-1, #eaeaea);
   stroke-width: 5;
   fill: none;
   stroke-linecap: round;
   stroke-linejoin: round;
   animation: pulseColorGreen 1.5s ease-in-out infinite;
}

@keyframes pulseColorRed {
   0%,
   100% {
      stroke: var(--skeleton-line-1, #eaeaea);
   }
   50% {
      stroke: var(--skeleton-line-pulse, #d7d7d7);
   }
}
@keyframes pulseColorGreen {
   0%,
   100% {
      stroke: var(--skeleton-line-1, #eaeaea);
   }
   50% {
      stroke: var(--skeleton-line-pulse, #d7d7d7);
   }
}
@keyframes pulseColor {
   0%,
   100% {
      stroke: var(--skeleton-line-1, #eaeaea);
   }
   50% {
      stroke: var(--skeleton-line-pulse, #d7d7d7);
   }
}
