.checkbox {
   min-width: 20px;
   min-height: 20px;
   height: 20px;
   width: 20px;
   border-radius: var(--radius-sm);
   border: 1px solid var(--color-border-default);
   background: var(--color-border-dividers);
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
}

.input {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   opacity: 0;
   z-index: 10;
   cursor: pointer;
}

.indicator {
   width: 10px;
   height: 10px;
   border-radius: 2px;
   background-color: var(--color-text-link);
}
