.root {
   display: flex;
   gap: 8px;
   background-color: var(--color-background-controls);
   border-radius: var(--radius-md);
   width: 100%;
   height: 66px;
   align-items: center;
   color: var(--color-text-primary);
   justify-content: center;
}
.input {
   width: 20px;
   height: 32px;
   text-align: center;
   font-size: 18px;
   border-radius: 8px;

   &::placeholder {
      color: var(--color-text-secondary);
   }
   // border: 1px solid #e0e0e0;
}
