.container {
   display: flex;
   flex-direction: column;
   gap: var(--spacing-s);
}

.bottom {
   display: flex;
   flex-direction: column;
   gap: var(--spacing-xxs);
}

.label {
   @include text;
   color: var(--color-text-secondary);
}

.link {
   @include link;
   color: var(--color-text-link);
}

.hint {
   @include field-inside-indication;
   color: var(--color-text-secondary);
}

.error {
   @include field-inside-indication;
   color: var(--color-border-error);
}

.hidden {
   display: none;
}
