.anchor {
   position: relative; // для удобства, хотя портал выводит пузырь в body
   display: inline-flex;
}

.tooltip {
   @include text;
   background: var(--color-background-elevated);
   color: var(--color-text-content);
   border-radius: var(--spacing-xxxs);
   padding: var(--spacing-xxs) var(--spacing-xs);
   box-shadow:
      0 6px 16px rgba(0, 0, 0, 0.12),
      0 3px 6px rgba(0, 0, 0, 0.08);
   max-width: 280px;
   // box-shadow: 0px 2px 4px 0px #0000000f;
}

.content {
   white-space: nowrap;
}

.arrow {
   position: absolute;
   width: 8px;
   height: 8px;
   background: var(--color-background-elevated);
   transform: rotate(45deg);
}

/* Позиционирование стрелки относительно пузыря */
.top .arrow {
   bottom: -4px;
   left: 50%;
   transform: translateX(-50%) rotate(45deg);
}
.bottom .arrow {
   top: -4px;
   left: 50%;
   transform: translateX(-50%) rotate(45deg);
}
.left .arrow {
   right: -4px;
   top: 50%;
   transform: translateY(-50%) rotate(45deg);
}
.right .arrow {
   left: -4px;
   top: 50%;
   transform: translateY(-50%) rotate(45deg);
}
