.menu {
   height: 60px;
   background-color: var(--color-background-elevated);
   border-radius: 100px;
   padding: 0 40px;
   box-shadow: var(--box-shadow-card);
}
.list {
   width: 100%;
   height: 100%;
   display: flex;
   gap: 30px;
   list-style: none;
   margin-bottom: 0;
   align-items: center;
   justify-content: center;
}
.item {
}
.link {
   text-decoration: none;
   font-size: 15px;
   line-height: 100%;
   font-weight: 500;
   color: var(--color-text-content);
   padding: 5px 10px;
   text-align: center;

   &:hover {
      background: var(--color-border-default);
      border-radius: 30px;
   }
   &.active {
      background: var(--color-border-default);
      border-radius: 30px;
   }
}
