
.intro {
    position: relative;
    height: 900px;
    overflow: hidden;
    background-color: var(--color-background-secondary);
    
    &-content {
        position: relative;
        z-index: 5;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        height: 100%;
    }

    &__subtitle {
        @include h2-desktop;
        text-transform: uppercase;
        letter-spacing: 12px;
        max-width: 380px;
        margin-bottom: 30px;
    }

    &__title {
        @include h1-desktop;
        text-transform: uppercase;
        letter-spacing: 12px;
        max-width: 380px;
        margin-bottom: 30px;
        letter-spacing: 0.525em;
        display: flex;
        flex-direction: column;
        gap: 14px;
        margin-bottom: 40px;

        & > span {
            display: flex;
            align-items: center;

            & > span {
                font-size: 40px;
            }
        }
    }

    &__slogan {
        font-family: "Prata";
        font-size: 18px;
        line-height: 28px;
        max-width: 380px;
        letter-spacing: 0.05em;
        margin-bottom: 46px;
    }
}

.bg-image {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    object-fit: cover;
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    
    // Начальная позиция (можно установить через GSAP, но лучше в CSS для FOUT)
    transform: translateX(-100%);
    
    &-1 {
      background-color: #756ed1;
      z-index: 2;
    }
    
    &-2 {
      background-color: #3498db;
      z-index: 3;
    }

    &-3 {
      background-color: #69dfa8;
      z-index: 4;
    }
    
    &-4 {
      background-color: var(--color-background-secondary);
      z-index: 5;
    }
}