
.intro {
    position: relative;
    height: 900px;
    overflow: hidden;
    background-color: var(--color-background-secondary);

    @media (max-width: 800px) {
        background: transparent;
        height: auto;
        display: flex;
        flex-direction: column-reverse;
        gap: 60px;
        padding: 0 50px;
    }

    @media (max-width: 400px) {
        gap: 40px;
        padding: 0;
    }
    
    &-content {
        position: relative;
        z-index: 5;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        padding-top: 210px;
        height: 100%;
        

        @media (max-width: 800px) {
            margin: 0;
            align-items: center;
            padding-top: 115px;
        }
        @media (max-width: 400px) {
            margin: 0;
            align-items: center;
            padding: 90px 20px 0;
        }
    }

    &__subtitle {
        @include h2-desktop;
        text-transform: uppercase;
        letter-spacing: 12px;
        max-width: 380px;
        margin-bottom: 30px;

        @media (max-width: 800px) {
            text-align: center;
            max-width: none;
            font-size: 30px;
            letter-spacing: 6px;
        }

        @media (max-width: 400px) {
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 12px;
            letter-spacing: 3px;
        }
    }

    &__title {
        @include h1-desktop;
        text-transform: uppercase;
        letter-spacing: 12px;
        max-width: 380px;
        margin-bottom: 30px;
        letter-spacing: 0.525em;
        display: flex;
        flex-direction: column;
        gap: 14px;
        margin-bottom: 40px;
        

        @media (max-width: 800px) {
            text-align: center;
            max-width: none;
            font-size: 50px;
            align-items: center;
            gap: 10px;
            margin-bottom: 23px;
        }

        @media (max-width: 400px) {
            font-size: 30px;
            line-height: 30px;
            letter-spacing: 0.3em;
            margin-bottom: 20px;
        }

        & > span {
            display: flex;
            align-items: center;
            
            & > span {
                font-size: 40px;
            }
            @media (max-width: 800px) {
                justify-content: center;
                
                & > span {
                    font-size: 20px;
                }
            }

             @media (max-width: 400px) {
                
                & > span {
                    font-size: 14px;
                }
            }
        }
    }

    &__slogan {
        font-family: "Prata";
        font-size: 18px;
        line-height: 28px;
        max-width: 380px;
        letter-spacing: 0.05em;
        margin-bottom: 46px;

        @media (max-width: 800px) {
            font-size: 16px;
            text-align: center;
            margin-bottom: 36px;
        }

        @media (max-width: 400px) {
            font-size: 14px;
            line-height: 22px;
            letter-spacing: 0;
        }
    }
}

.bg-image {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    object-fit: cover;

    @media (max-width: 800px) {
        position: relative;
        width: 100%;
        z-index: 6;
        aspect-ratio: 1 / 1;
    }
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
   
    
    &-1 {
      background-color: #756ed1;
      z-index: 2;
    }
    
    &-2 {
      background-color: #3498db;
      z-index: 3;
    }

    &-3 {
      background-color: #69dfa8;
      z-index: 4;
    }
    
    &-4 {
      background-color: var(--color-background-secondary);
      z-index: 5;
    }

    @media (max-width: 800px) {
        transform: translateX(0);
        width: 100%;
        height: 75%;
    }
}