.container {
   display: flex;
   align-items: center;
   justify-content: start;

   border-radius: var(--radius-md);
   width: 100%;
   padding: var(--spacing-zero) var(--spacing-xxs) var(--spacing-zero) var(--spacing-xxs);

   cursor: text;
   color: var(--color-text-primary);

   &.disabled {
      opacity: 0.6;
      pointer-events: none;
   }
}

.input {
   @include field-inside-content;

   color: inherit;
   transition: 0.3s;

   display: flex;
   align-items: center;
   justify-content: start;

   padding-left: var(--spacing-xxs);
   padding-right: var(--spacing-xxs);

   width: 100%;
   border: none;

   outline: none;

   &::placeholder {
      color: var(--color-text-secondary);
   }
}

.normal {
   height: 32px;
}

.large {
   height: 44px;
}

.rightIcon {
   width: 20px;
   height: 20px;
}

.leftIcon {
   width: 20px;
   height: 20px;
}

.control {
   display: flex;
   align-items: center;
   gap: var(--spacing-xxs);
}

.primary {
   background: var(--gradient-background), var(--gradient-border);
   border: 1px solid transparent;
   box-shadow: 0px 2px 4px 0px #0000000f;
}

.secondary {
   background-color: var(--color-background-controls);
   border-bottom: 1px solid transparent;
}

.error {
   border-color: var(--color-border-error);
   color: var(--color-border-error);
}
