
.cost {
    position: relative;
    height: 760px;
    overflow: hidden;
    background-color: var(--color-background-secondary);

    @media (max-width: 800px) {
        background: transparent;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 60px;
        padding: 0 50px 50px;
    }
    @media (max-width: 400px) {
        background: transparent;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding: 0 0 40px;
    }

    @media (max-width: 400px) {
        height: auto;
    }
    
    &-content {
        position: relative;
        z-index: 5;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        height: 100%;

        @media (max-width: 800px) {
            margin: 0;
            align-items: center;
            padding: 0;
        }
        @media (max-width: 400px) {
            margin: 0;
            align-items: center;
            padding: 0 20px;
        }
    }

    &-title {
        @include h2-desktop;
        text-transform: uppercase;
        letter-spacing: 12px;
        max-width: 380px;
        margin-bottom: 40px;

        @media (max-width: 800px) {
            margin-bottom: 30px;
        }
        @media (max-width: 400px) {
            margin-bottom: 22px;
        }
    }

    &-desc {
        font-size: 16px;
        line-height: 26px;
        max-width: 480px;
        color: var(--color-text-light);
        margin-bottom: 105px;

        @media (max-width: 800px) {
            text-align: center;
            max-width: none;
            margin-bottom: 30px;
        }
        @media (max-width: 400px) {
            font-size: 14px;
            line-height: 22px;
        }
    }

    

    &-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 100%;
        gap: 20px;

        @media (max-width: 800px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: 400px) {
            grid-template-columns: repeat(1, 1fr);
            gap: 2px;
        }
    }

    &-card {
        padding: 40px 40px 50px 40px;
        background-color: var(--color-background-primary);
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (max-width: 400px) {
            flex-direction: row-reverse;
            gap: 2px;
            justify-content: space-between;
            align-items: center;
            padding: 30px;
        }

        &-icon {
            margin-bottom: 30px;

            @media (max-width: 400px) {
                margin-bottom: 0;
            }
        }

        &-title {
            margin-bottom: 27px;
            text-transform: uppercase;
            font-size: 14px;
            line-height: 22px;
            font-weight: 600;
            text-align: center;

            @media (max-width: 400px) {
                margin-bottom: 8px;
                font-size: 12px;
                line-height: 18px;
            }
        }

        &-price {
            font-family: "Prata";
            & > span {
                font-size: 24px;
                line-height: 32px;
                
                & > span {
                    font-size: 18px;
                }
            }

            @media (max-width: 400px) {

                & > span {
                    font-size: 18px;
                    line-height: 24px;

                    & > span {
                        font-size: 14px;
                    }
                }
                
            }
        }

        &-info {
            display: flex;
            flex-direction: column;
            align-items: center;
            
            @media (max-width: 400px) {
                align-items: start;
            }
        }
    }
}

.bg-image {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    object-fit: cover;
    
    @media (max-width: 800px) {
        position: relative;
        width: 100%;
        z-index: 6;
        aspect-ratio: 1 / 1;
    }
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    
    &-1 {
      background-color: #756ed1;
      z-index: 2;
    }
    
    &-2 {
      background-color: #3498db;
      z-index: 3;
    }

    &-3 {
      background-color: #69dfa8;
      z-index: 4;
    }
    
    &-4 {
      background-color: var(--color-background-secondary);
      z-index: 5;
    }

    @media (max-width: 800px) {
        bottom: 0;
        top: 25%;
        width: 100%;
        height: 75%;
    }
    @media (max-width: 400px) {
        height: 100%;
    }
}