.reviews {
    overflow: hidden;
    padding: 120px 0 145px 0;

    &-content {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 70px;
    }

    &-title {
        @include h2-desktop;
        text-transform: uppercase;
        letter-spacing: 0.26em;
        opacity: 0; // Начальная прозрачность для анимации
        will-change: transform, opacity;
    }

    &-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 50px 60px;
        width: 100%;
        opacity: 1; // Контейнер всегда видим
    }
}

.review {
    display: flex;
    flex-direction: column;
    gap: 20px;
    opacity: 0; // Начальная прозрачность для анимации
    will-change: transform, opacity, scale;
    transform-origin: center bottom; // Точка трансформации для анимации

    // Эффект при наведении
    &:hover {
        transform: translateY(-5px);
        transition: transform 0.3s ease;
    }

    &-header {
        display: flex;
        align-items: center;
        gap: 20px;

        &-info {
            display: flex;
            flex-direction: column;
        }
    }

    &-avatar {
        width: 60px;
        height: 60px;
        border-radius: 999px;
        object-fit: cover;
        transition: transform 0.3s ease;
        
        // Эффект при наведении на отзыв
        .review:hover & {
            transform: scale(1.05);
        }
    }

    &-name {
        font-size: 16px;
        line-height: 24px;
        font-family: "Prata";
        letter-spacing: 0.04em;
    }

    &-age {
        font-size: 14px;
        line-height: 24px;
        color: var(--color-text-soft);
    }

    &-text {
        font-size: 16px;
        line-height: 26px;
        color: var(--color-text-light);
        transition: color 0.3s ease;
        
        // Эффект при наведении на отзыв
        .review:hover & {
            color: var(--color-text-primary); // Или другой цвет
        }
    }
}