.button {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 10px;
   border-radius: var(--radius-sm);
   cursor: pointer;
   height: 32px;

   &:hover {
      opacity: 0.8;
   }

   &.isNotice::after {
      position: absolute;
      content: "";
      width: 8px;
      max-width: 8px;
      height: 8px;
      max-height: 8px;
      border-radius: var(--radius-all);
      background: #ff6900;
      top: 0;
      right: 0;
      transform: translate(40%, -40%);
   }

   &:disabled {
      opacity: 50%;
      cursor: not-allowed;
   }
}

.small {
   // padding-right: var(--spacing-xxs);
   // padding-left: var(--spacing-xxs);
   width: 32px;
   height: 32px;
}
.normal {
   // padding-right: var(--spacing-s);
   // padding-left: var(--spacing-s);
   width: 44px;
   height: 32px;
}
.large {
   // padding-right: var(--spacing-m);
   // padding-left: var(--spacing-m);
   width: 52px;
   height: 32px;
}
.big {
   // padding-right: var(--spacing-l);
   // padding-left: var(--spacing-l);
   width: 68px;
   height: 32px;
}

.secondary {
   color: var(--color-text-link);
   // background-color: var(--color-background-elevated);
   // border: 1px solid #ebeef3;
   background: var(--gradient-background), var(--gradient-border);
   border: 1px solid transparent;
}
