.select {
   &__container {
      position: relative;
      width: 100%;
      line-height: 100%;

      &.disabled {
         opacity: 0.6;
         pointer-events: none;
      }
   }

   &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5px 11px;
      // background: var(--color-background-elevated);

      cursor: pointer;
      transition: 0.3s;
      gap: var(--spacing-xxxs);
      border-radius: var(--radius-md);

      &:hover {
         border-color: var(--color-button-primary);
      }

      &.open {
         border-color: var(--color-button-primary);
      }

      &.normal {
         height: 33px;
      }
      &.large {
         height: 44px;
      }

      &.primary {
         background: var(--gradient-background), var(--gradient-border);
         border: 1px solid transparent;
         box-shadow: 0px 2px 4px 0px #0000000f;
      }
      &.secondary {
         background-color: var(--color-background-controls);
         border-bottom: 1px solid transparent;
      }
   }

   &__placeholder {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      flex-grow: 1;
      @include field-inside-content;
      color: var(--color-text-primary);
   }

   &__dropdown {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      margin-top: 4px;
      border-radius: var(--radius-md);

      z-index: 1000;
      max-height: 250px;
      overflow: hidden;

      &.primary {
         background: var(--gradient-background), var(--gradient-border);
         border: 1px solid transparent;
         box-shadow: 0px 2px 4px 0px #0000000f;
      }

      &.secondary {
         background-color: var(--color-background-controls);
         border-bottom: 1px solid transparent;
      }
   }

   &__options {
      max-height: 200px;
      overflow-y: auto;
      padding: 1px 3px;
   }

   &__checkbox {
      width: 0;
      height: 0;
      visibility: hidden;
   }

   &__option {
      display: flex;
      align-items: center;
      padding-left: var(--spacing-xs);
      padding-right: var(--spacing-xs);
      cursor: pointer;
      transition: 0.3s;
      border-radius: 6px;
      @include field-inside-content;
      color: var(--color-text-primary);
      margin-block: 2px;

      &:hover {
         background: rgba(50, 50, 50, 0.08);
      }

      &.selected {
         background: rgba(42, 183, 143, 0.082);
         font-weight: 600;
      }

      &.disabled {
         opacity: 0.5;
         cursor: not-allowed;
      }

      &.normal {
         padding-block: var(--spacing-xxs);
      }
      &.large {
         padding-block: var(--spacing-xs);
      }
   }
}
