.layout {
   width: 100vw;
   //    display: flex;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   min-height: 100vh;
   background: var(--color-background-elevated);
}

.content {
   width: 100%;
   // min-height: 100vh;
}
